* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}

.logo {
    height: 70px;
    width: 70px;
}

.links {
    display: flex;
    gap: 30px;
    padding: 15px;
    background-color: indigo;
}

.list {
    background-color: aliceblue;
    padding: 7px 7px;
    border-radius: 12%;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(24, 22, 133);
}

.home {
    background-image: url('https://media.istockphoto.com/id/1075599562/photo/programmer-working-with-program-code.jpg?s=612x612&w=0&k=20&c=n3Vw5SMbMCWW1YGG6lnTfrwndNQ8B_R4Vw-BN7LkqpA=');
    height: 300px;
    width: 100%;
}